---

import { Image } from "astro:assets";

---



<div class="mt-4 w-full ">
    <Image
    src="/gamedev.png"
    class="w-full h-[10em] rounded-lg opacity-70"
    width={40}
    height={40}
    alt="Image"
    />

</div>