---
interface Props {
	title: string;
}
import "@fontsource-variable/space-grotesk";
import "@fontsource/staatliches";

import Header from '../components/Header.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#040E19] px-4 py-4">
		<Header/>
		<main class="flex items-center justify-center flex-col space-y-4 mb-16">
			<slot />
		</main>
		
	</body>
</html>

