---
import CardList from '../client/CardList.tsx';
---
<div class="mt-4 w-full max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-white font-medium text-2xl font-mono lg:text-4xl">Events</h2>
    <CardList client:load />
</div>