---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EventBox from '../components/EventBox.astro'
---

<Layout title="Welcome to Astro.">
	<Header/>
	<EventBox/>
	<main>
		
	</main>
</Layout>

